<!DOCTYPE html>
<html lang="ko">
<head>
    <title> {{ greet }}, {{ name }} </title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
<h1> {{ greet }}, {{ name }} </h1>
<img src="../static/tut.jpg" alt="image" style="width: 170px;">
</body>
</html>